
body,
html {

	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	color:  white;

	background-image: linear-gradient(to right, rgb(6, 2, 48) 10%, rgb(19, 52, 128));
	background-image: linear-gradient(to right, darkslateblue, darksalmon);
	background-size:  cover;
}

a{
	color: rebeccapurple;
}

a:hover{
	color:  purple;
}

img {
	max-width: 100%;
	height: auto;
}

.box-margin {
	margin-top: 4em;
	margin-bottom: 4em;
}

.form-margin {
	margin-top: 1em;
	margin-bottom: 1em;
}

.btn-primary{
	background-color: darkslateblue;
	border-color: whitesmoke;
}

.btn-primary:hover{
	background-color: rebeccapurple;
	border-color: whitesmoke;
}

.btn-xl{
	margin-bottom: 1em;
}
