body {
	background-image: linear-gradient(to right, rgb(6, 2, 48) 10%, rgb(19, 52, 128));
	/*background-image: linear-gradient(to right, darkslateblue, darksalmon);*/
	background-size:  cover;
}

h1 {
	color: white;
}

li {
	color:  skyblue;

	list-style: none;
	display: inline-block;
}

a:link {
	color:  lightskyblue;
}

a:visited {
	color:  deepskyblue;
}

a:hover {
	color:  whitesmoke;
}


p {
	color:  white;
}